<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Integrated Security=SSPI;Persist Security Info=False;database=FFCalendar;Data Source=NB-26506\SQLEXPRESS;Connect Timeout=0;Pooling=true" providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
</configuration>